@import "colores";
@import "fuentes";

/*Gral*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%; /* 10px=0.625rem */
    font-family: 'Poppins', sans-serif; 
}

body {
    background-image: linear-gradient(#b6d0f3 45%, $color-white 55%);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
    color: $color-black;
}

h1 {
    font-size: 4rem;
    color: $color-white;
    font-style: italic;
    padding-top: 1rem;
}

h2 {
    display: block;
    text-align: left;
    margin-left: 1.25rem;
    font-size: $fuente-mediana;
}

h3 {
    display: block;
    margin-left: 1.875rem;
    font-size: $fuente-mediana;
}

ul {
    font-size: 1rem;
    list-style-type: circle;
    margin-left: 3.125rem;
    text-align: left;
}