@import "colores";

/*Gral*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%; /* 10px=0.625rem */
    font-family: 'Poppins', sans-serif; 
}

body {
    background-image: linear-gradient(#f48fb1 45%, $color-white 55%);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

h1 {
    font-size: 2.8rem;
    color: $color-white;
    font-style: italic;
}

