@import "colores";

/*Botones*/

#botonWhatsapp {
    position: fixed;
    bottom: 0.625rem;
    left: 1.25rem;
}

.boton {
    display: inline-block;
    padding: 0.313rem;
    color: $color-white;
    border-radius: 0.5rem;
    border-style: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.boton--enviar {
    @extend .boton;
    background-color: #794faf;
    margin-left: 14rem;
    font-size: 1.2rem;
}

.boton--masInfo {
    @extend .boton;
    background-color: #ec407a;
    margin-left: 8rem;
    font-size: 1rem;
    
    a {
        text-decoration: none;
        color: $color-white;
    }
}
