/* Formulario */

form {
    padding-left: 9rem;
    width: 60rem;
    
    fieldset {
        legend {
            margin-left: 7rem;
            line-height: 40px;
            font-size: 2rem;
        }
        div {
            font-size: 1.5rem;
            input {
                width: 100%;
            }
        }
    }
}

.formBox {
    width: 70%;
}