/* 



// Estilos Sección Recetas y Productos//

.cardReceta {
    display: inline-block;
    font-size: 20px;
    width: 350px;
    height: 400px;
    border: solid 1px #9c27b0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.cardRecetaVideo {
    display: inline-block;
    font-size: 20px;
    width: 600px;
    height: 350px;
    border: solid 1px #9c27b0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

iframe {
    border: solid 1px #9c27b0;
    border-radius: 10px;
    border-style: hidden;
}

.imgRecetas {
    display: block;
    margin: 0 auto;
    border-style: hidden;
    border-radius: 15%;
    padding: 20px;
}

.h2RecetasyProductos {
    display: block;
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
}

.h3RecetasyProductos {
    display: block;
    margin-left: 30px;
    font-size: 20px;
}

.unorderedList {
    font-size: 17px;
    list-style-type: circle;
    margin-left: 50px;
    text-align: left;
}

.orderedList {
    font-size: 1rem;
    margin-left: 3.125rem;
    text-align: left;
}

.cardsRecetas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.recetas {
    margin-left: 20px;
    margin-right: 30px;
}


//About Me//
.aboutMe {
    display: block;
    width: 40%;
    border-radius: 20%;
    margin: 0 auto;
}

//Team//
.team {
    display: block;
    width: 35%;
    border-radius: 20%;
    margin: 0 auto;
}

//Formulario//
.formInterlineado {
    line-height: 40px;
}

legend {
    margin-left: 7rem;
}

.botonEnviar {
    color: #ffffff;
    background-color: #794faf;
    border-color: #794faf;
}

.formBox {
    width: 50%;
}

form fieldset button {
    margin-left: 14rem;
}






//MEDIA QUERIES TABLET//
@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 0.3fr 2.2fr 0.3fr;
        grid-template-rows: 0.4fr 2.5fr 0.6fr;
        grid-template-areas: 
            "gridHeader gridHeader gridHeader"
            ". gridMain gridMain ."
            "gridFooter gridFooter gridFooter";
    }
    
    .menu {
        height: 310px;
        display: flex;
        flex-flow: column nowrap;
        font-size: 25px;
    }

    .containerProd {
        display: grid;
        grid-template-columns: 0.3fr 2.2fr 0.3fr;
        grid-template-rows: 0.5fr 2fr 0.1fr;
        grid-template-areas: 
            "gridHeader gridHeader gridHeader"
            ". gridMainProd gridMainProd ."
            "gridFooter gridFooter gridFooter";        
    }

    .prodTablet {
        text-align: center;
    }

    .containerSobreMiTeam {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2.5fr 3.3fr 1fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gridHeader gridHeader gridHeader"
            "gridSobreMiTeam gridSobreMiTeam gridSobreMiTeam"
            "gridFooter gridFooter gridFooter";
    }
    
    .containerContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.4fr 2.4fr 0.75fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "gridHeader gridHeader gridHeader"
        "gridMainContacto gridMainContacto gridMainContacto"
        "gridFooter gridFooter gridFooter";
    }
    
    .containerRecetas {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.7fr 2.4fr 0.3fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gridHeader gridHeader gridHeader gridHeader gridHeader"
            ". gridMainRecetas gridMainRecetas gridMainRecetas ."
            "gridFooter gridFooter gridFooter gridFooter gridFooter";
    }

    .cardReceta {
        display: inline-block;
        font-size: 20px;
        width: 350px;
        height: 400px;
        border: solid 1px #9c27b0;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }
    
    .cardRecetaVideo {
        display: inline-block;
        font-size: 20px;
        width: 475px;
        height: 350px;
        border: solid 1px #9c27b0;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }
    
    iframe {
        border: solid 1px #9c27b0;
        border-radius: 10px;
        border-style: hidden;
        width: 90%;
    }

    .imgRecetas {
        display: block;
        margin: 0 auto;
        border-style: hidden;
        border-radius: 15%;
        padding: 20px;
        width: 85%;
    }
}

//MEDIA QUERIES MOBILE//
@media (max-width: 375px) {
    .container {
        display: grid;
        grid-template-columns: 0.3fr 2.2fr 0.3fr;
        grid-template-rows: 0.17fr 2fr 1fr;
        grid-template-areas: 
            "gridHeader gridHeader gridHeader"
            ". gridMain gridMain ."
            "gridFooter gridFooter gridFooter"            
            ;
    }

    .menu {
        height: 300px;
        flex-flow: column nowrap;
        align-items: center;
        align-content: space-around;
        padding: 15px;
        font-size: 20px;
    }

    .gridFooter {
        grid-area: gridFooter;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "redes subir subir";
        height: 200px;
    }

    .redes {
        grid-area: redes;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .containerProd {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.6fr 2.4fr 1fr;
        grid-template-areas:
        "gridHeader gridHeader gridHeader"
        "gridMainProd gridMainProd gridMainProd"
        "gridFooter gridFooter gridFooter";
        align-content: stretch;
    }

    .containerRecetas {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.7fr 2.4fr 0.5fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gridHeader gridHeader gridHeader gridHeader gridHeader"
            ". gridMainRecetas gridMainRecetas gridMainRecetas ."
            "gridFooter gridFooter gridFooter gridFooter gridFooter";
    }

    .cardReceta {
        display: inline-block;
        font-size: 20px;
        width: 350px;
        height: 300px;
        border: solid 1px #9c27b0;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }
    
    .cardRecetaVideo {
        display: inline-block;
        font-size: 20px;
        width: 475px;
        height: 350px;
        border: solid 1px #9c27b0;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
    }
    
    iframe {
        border: solid 1px #9c27b0;
        border-radius: 10px;
        border-style: hidden;
        width: 90%;
    }

    .imgRecetas {
        display: block;
        margin: 0 auto;
        border-style: hidden;
        border-radius: 15%;
        padding: 20px;
        width: 85%;
    }

    .containerRecetasMobile {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.6fr 2.4fr 0.5fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gridHeader gridHeader gridHeader gridHeader gridHeader"
            ". gridMainRecetas gridMainRecetas gridMainRecetas ."
            "gridFooter gridFooter gridFooter gridFooter gridFooter";
    }

    section.recetasMobile h1 {
        font-size: 25px;
    }

    .containerRecetasMobile1 {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2.4fr 0.5fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "gridHeader gridHeader gridHeader gridHeader gridHeader"
            ". gridMainRecetas gridMainRecetas gridMainRecetas ."
            "gridFooter gridFooter gridFooter gridFooter gridFooter";
    }
}
*/