@import "colores";

/*Footer*/
footer {
    font-style: bold;
    height: 12rem;
    color: $color-white;
    display: flex;
    flex-flow: row nowrap;
    background-color: #726DA8;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    align-self: flex-end;
    box-shadow: 0.25rem 0 0.625rem $color-black;

    div.redes {
        padding-bottom: 2rem;
        div {
            padding-bottom: 1rem;
            a {
                img {
                    background-color: $color-white;
                    border-radius: 25%;
                }
            }
        }
    }
}