$fuente-chica: 0.625rem; // .fuenteChica //
$fuente-mediana: 1.25rem; // .fuenteMediana //
$fuente-grande: 1.875rem; // .fuenteGrande //

.centrado {
    text-align: center;
}

.right {
    text-align: right;
}

.subrayado {
    text-decoration: underline;
}