@import "colores";
@import "fuentes";

/*Img Carousel*/
.carouselCss {
    margin: 0 auto;
    width: 100%;
} 

div.carousel-caption {
	background-color: $color-black;
	opacity: 40%;
}

/*Text Secciones Index*/


section {
    div {
        div {
            display: flex;
            flex-direction: column;

            i {
                font-size: 2rem;
                padding-top: 2rem;
                color: #000;
            }
            
            a {
                font-style: oblique;
                color: $color-black;
                font-size: $fuente-grande;

                &:hover {
                    color: $color-black;
                }
            }
        }

        p {
            margin-right: 6.25rem;
            margin-left: 6.25rem;
            padding: 0.625rem;
            font-size: $fuente-mediana;
        }
    }
}

