@import "mixins";
@import "mapas";


/* MEDIA QUERIES TABLET */

@media (max-width: 768px) {
    .containerMedia {
        display: flex;
        flex-direction: column;
    }

    h1.h1Tablet {
        padding-left: 3rem;
        padding-top: 8rem;
        font-size: 5rem;
    }
    
    .footer {
        height: 12rem;
        width: 100%;
    }

    section.recetasTablet {

        div.cardRecetaTablet {
            height: 21rem;
                
            img {
                padding: 0.1rem;
                width: 90%;
            }
        }
            
        iframe {
            width: 90%;
        }
    }

    img.meTablet {
        width: 70%;
    }

    img.teamTablet {
        width: 60%;
    }

    .secRecetasTablet {
        h1 {
            line-height: 5rem;
        }

        img {
            width: 65%;
        }

        h2, h3 {
            font-size: 1.7rem;
        }

        ul, .olRecetasTablet {
            font-size: 1.5rem;
        }
    }

    .mainContactoTablet {
        display: flex;
        flex-flow: column nowrap;

        form {
            padding-left: 3rem;
            width: 45rem;
        }
        
        .fieldsetTablet {

            legend {
                line-height: 2.5rem;
                margin-left: 0rem;
            }

            .formBox {
                width: 80%;
        
                &::placeholder {
                    text-align: justify;
                }
            }
            
            label.checkbox {
                width: 20rem;
                font-size: 1.5rem;
            }

            button {
                margin-left: 7rem;
                width: 5rem;
            }
        }
    }
}

/* //MEDIA QUERIES SMALL// */
@media (max-width: 575px) {
    h1.h1Sm {
        padding-left: 0;
    }

    form.containerSm {
        width: 20rem;
        padding-left: 0.2rem;
    }

    fieldset.fieldsetSm {
        legend {
            font-size: 1.5rem;
        }

        div.formSmall {
            display: flex;
            flex-direction: column;
            
            div {
                label {
                    text-align: left;
                }

            }

            label.checkSm {
                width: 15rem;
                font-size: 1.2rem;
            }

            button.botonSm {
                margin-left: 2rem;
                width: 5rem;
                margin-bottom: 2rem;
            }
        }
    }
}

/* //MEDIA QUERIES MOBILE// */
@media (max-width: 375px) {
    h1.h1Mobile {
        font-size: 3rem;
        padding-left: 1rem;
    }

    footer.footerMobile {
        height: 8rem;
        display: flex;
        padding-left: 1rem;

        div {
            div.redesMobile {
                margin-top: 1.5rem;
                padding-bottom: 0.5rem;
            }
        }
        
        svg.svgMobile {
            font-size: 2rem !important;
        }
    
        p.pFooterMobile {
            font-size: 1.2rem;
        }
    }

    section.sectionMobile {
        div {
            p.seccionesIndexMobile {
                margin-right: 1rem;
                margin-left: 1rem;
                padding: 1rem;
            }
        }
    }

    section.prodMobile {
        div.cardProdMobile {
            line-height: 1.2rem;
            height: 25rem;
            width: 20rem;

            img {
                padding: 0;
                width: 60%;
            }

            h2.h2Mobile, h3.h3Mobile {
                font-size: 1rem;
            }

            ul.ulMobile {
                font-size: 0.9rem;
            }
        }
    }

    section.recetasMobile {

        div.cardRecetaMobile {
            height: 20rem;
            width: 18rem;
            
            img.imgRecetaMobile {
                width: 90%;
                padding-bottom: 1rem;
            }
        }

        div.cardRecVidMob {
            height: 24rem;
            width: 18rem;

            iframe {
                width: 80%;
            }
        }
    }

    main {
        div.textMobile {
            img {
                padding-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                padding: 0.5rem;
                margin-bottom: 0;
                margin-left: 1rem;
                margin-right: 1rem;
                text-indent: 1rem;
            }
        }

    }

}
