@import "colores";
@import "fuentes";
@import "mapas";
@import "mixins";

/*Estilos Productos*/
section.productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    div.cardProd {
        @include estiloCards (#f7e6ed, 0.25rem 0 0.625rem #430c24);
        display: map-get($cards, mostrar);
        font-size: 0.938rem;
        width: map-get($cards, ancho);
        height: 33rem;
        border-style: none;
        border-radius: map-get($cards, bordeRedondeado);
        margin: map-get($cards, margen);
        padding: 0.313rem;

    
        img {
            display: block;
            margin: 0 auto;
            width: 75%;
            padding: 1.25rem;
        }
    }
}